### Extracci칩n de Datos

In [121]:
### TelecomX Parte Uno: Extracci칩n y Transformaci칩n de Datos
#Cargar los datos directamente desde la API utilizando Python.
%pip install pandas #Instala pandas si no est치 ya instalado

import requests
import pandas as pd

url = 'https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'  #Define la URL: Asigna la URL del archivo JSON a la variable url.
response = requests.get(url) #Realiza la Solicitud GET: Usa requests.get(url) para enviar una solicitud GET a la URL y almacena la respuesta en la variable response.
data = response.json()       #Convierte la Respuesta a JSON: Llama a response.json() para convertir el contenido de la respuesta en un objeto JSON (un diccionario de Python) y lo asigna a la variable data.

df_clientes = pd.DataFrame(data) #Crea un DataFrame de Pandas: Usa pd.DataFrame(data) para crear un DataFrame de Pandas a partir del diccionario data.

print(df_clientes.head())

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: Invalid requirement: '#Instala': Expected package name at the start of dependency specifier
    #Instala
    ^

Note: you may need to restart the kernel to use updated packages.
   customerID Churn                                           customer  \
0  0002-ORFBO    No  {'gender': 'Female', 'SeniorCitizen': 0, 'Part...
1  0003-MKNFE    No  {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
2  0004-TLHLJ   Yes  {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
3  0011-IGKFF   Yes  {'gender': 'Male', 'SeniorCitizen': 1, 'Partne...
4  0013-EXCHZ   Yes  {'gender': 'Female', 'SeniorCitizen': 1, 'Part...

                                             phone  \
0   {'PhoneService': 'Yes', 'MultipleLines': 'No'}
1  {'PhoneService': 'Yes', 'MultipleLines': 'Yes'}
2   {'PhoneService': 'Yes', 'MultipleLines': 'No'}
3   {'PhoneService': 'Yes', 'MultipleLines': 'No'}
4   {'PhoneService': 'Yes', 'MultipleLines': 'No'}

                                            internet  \
0  {'InternetService': 'DSL', 'OnlineSecurity': '...
1  {'InternetService': 'DSL', 'OnlineSecurity': '...
2  {'InternetService': 'Fiber optic', 'OnlineSecu...
3  {'InternetService': 'Fiber optic', 'OnlineSecu...
4  {'InternetService': 'Fiber optic', 'OnlineSecu...

                                             account
0  {'Contract': 'One year', 'PaperlessBilling': '...
1  {'Contract': 'Month-to-month', 'PaperlessBilli...
2  {'Contract': 'Month-to-month', 'PaperlessBilli...
3  {'Contract': 'Month-to-month', 'PaperlessBilli...
4  {'Contract': 'Month-to-month', 'PaperlessBilli...

In [33]:
#Convertir los datos a un DataFrame de Pandas para facilitar su manipulaci칩n.
import pandas as pd
df_clientes = pd.json_normalize(data)
df_clientes

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

### Transformaci칩n de Datos

***Diccionario de Datos***
 - *customerID*: n칰mero de identificaci칩n 칰nico de cada cliente
 - *Churn*: si el cliente dej칩   o no la empresa
 -  *gender*: g칠nero (masculino y femenino)
 -  *SeniorCitizen*: informaci칩n sobre si un cliente tiene 65 a침os o m치s
 -  *Partner*: si el cliente tiene pareja o no
 -  *Dependents*: si el cliente tiene dependientes o no
 -  *tenure*: meses de contrato del cliente
 -  *PhoneService*: suscripci칩n de servicio telef칩nico
 -  *MultipleLines*: suscripci칩n a m치s de una l칤nea de tel칠fono
 -  *InternetService*: suscripci칩n a un proveedor de internet
 -  *OnlineSecurity*: suscripci칩n adicional de seguridad online
 -  *OnlineBackup*: suscripci칩n adicional de backup online
 -  *DeviceProtection*: suscripci칩n adicional de protecci칩n en el dispositivo
 -  *TechSupport*: suscripci칩n adicional de soporte t칠cnico, menos tiempo de espera
 -  *StreamingTV*: suscripci칩n de TV por cable
 -  *StreamingMovies*: suscripci칩n de streaming de pel칤culas
 -  *Contract*: tipo de contrato
 -  *PaperlessBilling*: si el cliente prefiere recibir la factura online
 -  *PaymentMethod*: forma de pago
 -  *Charges.Monthly*: total de todos los servicios del cliente por mes
 -  *Charges.Total*: total gastado por el cliente

In [37]:
### Conoce el conjunto de datos
#Explorar las columnas del dataset y verificar sus tipos de datos. Consultar diccionario para comprender el significado de cada columna.
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [38]:
#Identificar las columnas m치s relevantes para el an치lisis de evasi칩n.
df_clientes.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [36]:
df_clientes.describe()

       customer.SeniorCitizen  customer.tenure  account.Charges.Monthly
count             7267.000000      7267.000000              7267.000000
mean                 0.162653        32.346498                64.720098
std                  0.369074        24.571773                30.129572
min                  0.000000         0.000000                18.250000
25%                  0.000000         9.000000                35.425000
50%                  0.000000        29.000000                70.300000
75%                  0.000000        55.000000                89.875000
max                  1.000000        72.000000               118.750000

### Verificaci칩n y Limpieza de datos

In [54]:
# Verificar si hay valores 칰nicos en cada columna
valores_unicos = pd.DataFrame({
    'Columna': df_clientes.columns,
    'Valores 칰nicos': [df_clientes[col].nunique() for col in df_clientes.columns]
})
display(valores_unicos)

                      Columna  Valores 칰nicos
0                  customerID            7267
1                       Churn               3
2             customer.gender               2
3      customer.SeniorCitizen               2
4            customer.Partner               2
5         customer.Dependents               2
6             customer.tenure              73
7          phone.PhoneService               2
8         phone.MultipleLines               3
9    internet.InternetService               3
10    internet.OnlineSecurity               3
11      internet.OnlineBackup               3
12  internet.DeviceProtection               3
13       internet.TechSupport               3
14       internet.StreamingTV               3
15   internet.StreamingMovies               3
16           account.Contract               3
17   account.PaperlessBilling               2
18      account.PaymentMethod               4
19    account.Charges.Monthly            1585
20      account.Charges.Total            6531

In [56]:
# Verificar si hay valores nulos en cada columna
valores_nulos = pd.DataFrame({
    'Columna': df_clientes.columns,
    'Valores nulos': [df_clientes[col].isnull().sum() for col in df_clientes.columns]
})
display(valores_nulos)

                      Columna  Valores nulos
0                  customerID              0
1                       Churn              0
2             customer.gender              0
3      customer.SeniorCitizen              0
4            customer.Partner              0
5         customer.Dependents              0
6             customer.tenure              0
7          phone.PhoneService              0
8         phone.MultipleLines              0
9    internet.InternetService              0
10    internet.OnlineSecurity              0
11      internet.OnlineBackup              0
12  internet.DeviceProtection              0
13       internet.TechSupport              0
14       internet.StreamingTV              0
15   internet.StreamingMovies              0
16           account.Contract              0
17   account.PaperlessBilling              0
18      account.PaymentMethod              0
19    account.Charges.Monthly              0
20      account.Charges.Total              0

In [ ]:
# Verificar si hay duplicados
duplicates = df_clientes.duplicated().sum()
print(f"N칰mero de filas duplicadas: {duplicates}")
print('-' * 40)

N칰mero de filas duplicadas: 0
----------------------------------------

In [58]:
# Verificar si hay vac칤os o espacios en blanco
espacios_en_blanco = pd.DataFrame({
    'Columna': df_clientes.columns,
    'Valores vac칤os o espacios en blanco': [df_clientes[col].apply(lambda x: isinstance(x, str) and x.strip() == '').sum() for col in df_clientes.columns]
})
display(espacios_en_blanco)

                      Columna  Valores vac칤os o espacios en blanco
0                  customerID                                    0
1                       Churn                                  224
2             customer.gender                                    0
3      customer.SeniorCitizen                                    0
4            customer.Partner                                    0
5         customer.Dependents                                    0
6             customer.tenure                                    0
7          phone.PhoneService                                    0
8         phone.MultipleLines                                    0
9    internet.InternetService                                    0
10    internet.OnlineSecurity                                    0
11      internet.OnlineBackup                                    0
12  internet.DeviceProtection                                    0
13       internet.TechSupport                                    0
14       internet.StreamingTV                                    0
15   internet.StreamingMovies                                    0
16           account.Contract                                    0
17   account.PaperlessBilling                                    0
18      account.PaymentMethod                                    0
19    account.Charges.Monthly                                    0
20      account.Charges.Total                                   11

In [64]:
# 224 registros tienen el campo 'Churn' con un string vacio y 11 regisros en la columna account.Charges.Total
# Regularizar los datos eliminando los espacios en blanco y convirtiendo a -1 los valores nulos en la columna 'Churn' y a 0 los nulos en 'account.Charges.Total'
df_clientes['Churn'] = df_clientes['Churn'].apply(lambda x: x.strip() if isinstance(x, str) else x).replace('', -1)
df_clientes['account.Charges.Total'] = df_clientes['account.Charges.Total'].apply(lambda x: x.strip() if isinstance(x, str) else x).replace('', 0)

In [65]:
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7043 non-null   float64
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7256 non-null   float64
dtypes: float64(3), int64(2), object(16)
memory usage: 1.2+ MB

### Columna de Cuentas Diarias

In [67]:
#Renombrar columnas para facilitar su manejo.
df_clientes.rename(columns={
    "customerID": "ID_Cliente",
    "Churn": "Cancelacion",
    "customer.gender": "Genero",
    "customer.SeniorCitizen": "Adulto_Mayor",
    "customer.Partner": "Tiene_Pareja",
    "customer.Dependents": "Tiene_Dependientes",
    "customer.tenure": "Meses_Contrato",
    "phone.PhoneService": "Suscripcion_Servicio_Telefono",
    "phone.MultipleLines": "Suscripcion_Multiples_Lineas",
    "internet.InternetService": "Suscripcion_Servicio_Internet",
    "internet.OnlineSecurity": "Suscripcion_Seguridad_En_Linea",
    "internet.OnlineBackup": "Suscripcion_Respaldo_En_Linea",
    "internet.DeviceProtection": "Suscripcion_Proteccion_Dispositivo",
    "internet.TechSupport": "Suscripcion_Soporte_T칠cnico",
    "internet.StreamingTV": "Suscripcion_TV_Streaming",
    "internet.StreamingMovies": "Suscripcion_Pel칤culas_Streaming",
    "account.Contract": "Tipo_Contrato",
    "account.PaperlessBilling": "Factura_Electronica",
    "account.PaymentMethod": "Metodo_Pago",
    "account.Charges.Monthly": "Factura_Mensual",
    "account.Charges.Total": "Cargos_Totales"
}, inplace=True)
df_clientes.head()

,ID_Cliente,Cancelacion,Genero,Adulto_Mayor,Tiene_Pareja,Tiene_Dependientes,Meses_Contrato,Suscripcion_Servicio_Telefono,Suscripcion_Multiples_Lineas,Suscripcion_Servicio_Internet,...,Suscripcion_Respaldo_En_Linea,Suscripcion_Proteccion_Dispositivo,Suscripcion_Soporte_T칠cnico,Suscripcion_TV_Streaming,Suscripcion_Pel칤culas_Streaming,Tipo_Contrato,Factura_Electronica,Metodo_Pago,Factura_Mensual,Cargos_Totales
0,0002-ORFBO,0.0,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30
1,0003-MKNFE,0.0,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40
2,0004-TLHLJ,1.0,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,1.0,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,1.0,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40

In [77]:
#Crear columna de Cuentas Diarias utilizando la columna Factura Mensual para calcular el valor diario.
df_clientes['Cuentas_Diarias'] = df_clientes['Factura_Mensual'] / 30
df_clientes['Cuentas_Diarias'] = df_clientes['Cuentas_Diarias'].round(2)

In [78]:
df_clientes.head()

,ID_Cliente,Cancelacion,Genero,Adulto_Mayor,Tiene_Pareja,Tiene_Dependientes,Meses_Contrato,Suscripcion_Servicio_Telefono,Suscripcion_Multiples_Lineas,Suscripcion_Servicio_Internet,...,Suscripcion_Proteccion_Dispositivo,Suscripcion_Soporte_T칠cnico,Suscripcion_TV_Streaming,Suscripcion_Pel칤culas_Streaming,Tipo_Contrato,Factura_Electronica,Metodo_Pago,Factura_Mensual,Cargos_Totales,Cuentas_Diarias
0,0002-ORFBO,0.0,Female,0,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.30,2.19
1,0003-MKNFE,0.0,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.40,2.00
2,0004-TLHLJ,1.0,Male,0,No,No,4,Yes,No,Fiber optic,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85,2.46
3,0011-IGKFF,1.0,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85,3.27
4,0013-EXCHZ,1.0,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40,2.80

### Carga y An치lisis

***An치lisis Descriptivo***

In [105]:
#! Calcular m칠tricas como media, mediana, desviaci칩n est치ndar y otras medidas que ayuden a comprender mejor la distribuci칩n y el comportamiento de los clientes.

#Mostrar cantidad de clientes que han cancelado el servicio
cancelados = df_clientes[df_clientes['Cancelacion'] == 'Yes'].shape[0]
print(f"Cantidad de clientes que han cancelado el servicio: {cancelados}")

#Mostrar cantidad de clientes por tipo de contrato
contratos = pd.DataFrame({
    'Tipo_Contrato': df_clientes['Tipo_Contrato'].unique(),
    'Cantidad': [df_clientes[df_clientes['Tipo_Contrato'] == contrato].shape[0] for contrato in df_clientes['Tipo_Contrato'].unique()]
})
display(contratos)

#Mostrar cantidad de clientes por m칠todo de pago
metodos_pago = pd.DataFrame({
    'Metodo_Pago': df_clientes['Metodo_Pago'].unique(),
    'Cantidad': [df_clientes[df_clientes['Metodo_Pago'] == metodo].shape[0] for metodo in df_clientes['Metodo_Pago'].unique()]
})
display(metodos_pago)
#Mostrar cantidad de clientes por servicio de internet
servicios_internet = pd.DataFrame({
    'Suscripcion_Servicio_Internet': df_clientes['Suscripcion_Servicio_Internet'].unique(),
    'Cantidad': [df_clientes[df_clientes['Suscripcion_Servicio_Internet'] == servicio].shape[0] for servicio in df_clientes['Suscripcion_Servicio_Internet'].unique()]
})
display(servicios_internet)
#Mostrar cantidad de clientes por servicio de tel칠fono
servicios_telefono = pd.DataFrame({
    'Suscripcion_Servicio_Telefono': df_clientes['Suscripcion_Servicio_Telefono'].unique(),
    'Cantidad': [df_clientes[df_clientes['Suscripcion_Servicio_Telefono'] == servicio].shape[0] for servicio in df_clientes['Suscripcion_Servicio_Telefono'].unique()]
})
display(servicios_telefono)

#Mostrar cantidad de clientes totales
total_clientes = len(df_clientes)
print(f"Total de clientes: {total_clientes}")
#Mostrar cantidad de clientes por g칠nero
generos = pd.DataFrame({
    'Genero': df_clientes['Genero'].unique(),
    'Cantidad': [df_clientes[df_clientes['Genero'] == genero].shape[0] for genero in df_clientes['Genero'].unique()]
})
display(generos)

Cantidad de clientes que han cancelado el servicio: 0

    Tipo_Contrato  Cantidad
0        One year      1519
1  Month-to-month      4005
2        Two year      1743

                 Metodo_Pago  Cantidad
0               Mailed check      1665
1           Electronic check      2445
2    Credit card (automatic)      1568
3  Bank transfer (automatic)      1589

  Suscripcion_Servicio_Internet  Cantidad
0                           DSL      2488
1                   Fiber optic      3198
2                            No      1581

  Suscripcion_Servicio_Telefono  Cantidad
0                           Yes      6560
1                            No       707

Total de clientes: 7267

   Genero  Cantidad
0  Female      3592
1    Male      3675

***Distribuci칩n de Evasi칩n (Churn)***

In [110]:
#En este paso, el objetivo es comprender c칩mo est치 distribuida la variable "churn" (evasi칩n) entre los clientes.
cancelacion_general = df_clientes['Cancelacion'].value_counts()
cancelacion_general_porcentaje = df_clientes['Cancelacion'].value_counts(normalize=True) * 100
tasa_cancelacion_general = pd.concat([cancelacion_general, cancelacion_general_porcentaje], axis=1)
tasa_cancelacion_general.columns = ['Frecuencia Absoluta', 'Frecuencia Relativa (%)']
display(tasa_cancelacion_general)

             Frecuencia Absoluta  Frecuencia Relativa (%)
Cancelacion
0.0                         5174                73.463013
1.0                         1869                26.536987

In [118]:
#Utiliza gr치ficos para visualizar la proporci칩n de clientes que permanecieron y los que se dieron de baja.
import plotly.express as px
fig = px.pie(tasa_cancelacion_general, values='Frecuencia Absoluta', names=tasa_cancelacion_general.index,
             title='Distribuci칩n de Clientes por Estado de Cancelaci칩n',
                color_discrete_sequence=px.colors.sequential.RdBu)
fig.show()

ModuleNotFoundError: No module named 'plotly'